@font-face {
	font-family: VT323;
	src: url("./assets/fonts/VT323.ttf");
}

* {
    box-sizing: border-box;
	font-family: "VT323", monospace;
	font-weight: 100;
}

html {
	scroll-behavior: auto;
}

body {
	background-color: #111111;
	color: #eeeeee;
}

var {
	color: #ccccff;
}

a:link {
	color: #ffff99;
}

a:visited {
	color: #ffb3b3;
}

a:hover {
	color: #ffff66;
}

a:active {
	color: #ff5050;
}

.header {
	position: fixed;
}

.nav-list {
	list-style: none;
	font-size: 32px;
}

.nav-item {
}

.name-section {
	margin-left: 200px;
	margin-right: 200px;
}

.name-header {
	font-size: 64px;
}

.location {
	font-size: 24px;
}

.main-content {
	margin-left: 200px;
	margin-right: 200px;
}

.content-header {
	font-size: 48px;
}

.contacts-list {
	font-size: 24px;
	list-style-image: url("./assets/img/list-item.png");
}

.info-paragraph {
	font-size: 24px;
	color: #99cced;
}

.code-sample {
	display: block;
	border: 4px dotted #eeeeee;
	font-size: 24px;
	background-color: #111122;
}

.code-keyword {
	font-weight: bold;
	color: #ccffcc;
}